footer.footer
  .footer__logo
    img(src='/img/gms-logo.png', alt='GMS Travels logo')

  ul.footer__nav
    li: a(href='#') About GMS
    li: a(href='#') Mobile App
    li: a(href='#') Become a Partner
    li: a(href='#') Careers
    li: a(href='#') Contact Support

  p.footer__copyright
    | &copy; #{new Date().getFullYear()} GMS Travels. All rights reserved. 
    | You may use and customize this template for your business, but redistribution or resale is prohibited.
